.inline-advanced-div{
  display: inline-flex;
}

.left-advanced-filter{
  width: 95% !important;
}

.right-advanced-filter{
  width: 95% !important;
  margin-left: 5%;
}

.advanced-filter-applied-text{
  text-align: center;
  color: darkgreen;
}

.advanced-filter-applied-search-page{
  color: #2e6da4;
  font-weight: 500;
}