.checkout-title{
  margin-left: 2%;
}

.checkout-items-listgroup{
  li{
    border: none !important;
  }
}

.checkout-quantity{
  width: 35% !important;
  display: inline !important;
}

.checkout-price-div{
  margin-left: -4%;
  margin-top: 10%;
}

.empty-checkout-size{
  font-size: 2em;
}

.promo-successfully-applied{
  color: darkgreen;
}