.text-center{
  text-align: center;
}

.margin-below{
  margin-bottom: 5%;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

hr{
  border-top: 1.5px solid #c7c9cc !important;
}

.loading-div{
  height: 360px;
  text-align: center;
}

.loading-circular-progress{
  top: 35%;
}

.page-height-for-navbar{
  height: 360px;
}

.display-header-right{
  display: inline-flex;
  margin-right: -6%;
}

.margin-five{
  margin: 5%;
}

.color-darkcyan{
  color: darkcyan;
}

.margin-bottom-three{
  margin-bottom: 3%;
}