.shopping-cart-listgroup li{
  border: none !important;
}

.cursor-pointer{
  cursor: pointer;
}

.cart-quantity{
  margin-left: 2%;
  margin-right: 2%;
  border: none !important;
  width: 25% !important;
  display: inline !important;
}

.cart-quantity:focus{
  border: none !important;
}

.remove-item-cart-button{
  border-color: transparent !important;
}

.cart-price{
  font-weight: 500;
  font-size: 1.2em;
}

.cart-price-div{
  margin-top: 10%;
}

.cart-remove-div{
  margin-top: 35%;
}