.btn .custom-cart-badge{
  top: -8px !important;
}

.custom-cart-badge{
   padding: 3px 5px !important;
   font-size: 10px !important;
   background-color: black !important;
   border-radius: 14px !important;
 }

.cart-symbol-size{
  font-size: 1.3em;
}

.icon-menu{
  margin-left: -6%;
}

.inline-div-display{
  display: inline;
}