.margin-div-five{
  margin: 5%;
}

.product-deal-price-st{
  text-decoration: line-through;
  color: #a81a1a;
  font-size: 1.4em;
}

.product-deal-price{
  color: #108c46;
  font-weight: 500;
  font-size: 1.6em;
  margin-left: 1%;
}

.product-info-price{
  margin-left: 5%;
  margin-top: -2.5%;
}

.product-info-star-rating{
  margin-bottom: -2%;
}

.product-info-savings{
  color: #636262;
  font-size: 1.05em;
}

.product-info-left-margin{
  margin-left: 5%;
}

.quantity-select{
  width: 15%;
}

.add-to-cart-product{
  margin-right: 2%;
}

.product-info-number-of-ratings{
  margin-left: 1.5%;
}

.product-description-heading{
  font-size: 1.6em;
  color: #042251;
}

.product-description{
  font-size: 1.2em;
}

.product-info-seller-name{
  margin-top: 2%;
  margin-bottom: -2%;
  color: gray;
}